
body{
    background-color: #39a0ca;
}

.log-in-container{
    display: flex;
    height: 5%;
    background-color: gainsboro;
    opacity: 0.5;
}

#userNameUpBar, #log-out-button{
    font-family: Calibri;
    font-size: 40px;
    color: slategrey;

}

#log-out-button:hover{
    background-color: darkgray;
}